body {
    background: #000000;
}

h1 {
    color: #5eff00;
}

a {
    text-decoration: none;
}

a:link {
    color: #5eff00;
}

a:hover {
    background-color: #888888;
}

a:visited {
    color: #5eff00;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #000000;
    padding: 20px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #888888;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    position: fixed;
    text-align: center;
    color: #5eff00;
    font-family: 'Arial Narroe Bold', sans-serif, 'Times New Roman';
    font-size: 20px;
    margin-left: 600px;
}

.websiteURL {
    font-family: "I Tell You All My Secrets", Arial, sans-serif;
    font-size: 72px;
    text-align: center;
    padding: 100px 50px 30px;
}

#main-image {
    height: 600px;
    width: 800px;
    margin-top: 50px;
}

img:hover {
    border-image: 2px solid #FFFFFF;
}