body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 34px;
    background: #000000;
    color: #5eff00;
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: "I Tell You All My Secrets", Arial, sans-serif;
    font-size: 72px;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #5eff00;
}

a:link {
    color: #5eff00;
}

a:hover {
    background-color: #888888;
    border-image: 2px solid #FFFFFF;
}

a:visited {
    color: #5eff00;
}

nav {
    position: relative;
    text-align: center;
}

.container {
    display: inline;
    width: 100%;
    max-width: 960px;
    margin: 0px 0px 100px;
    clear: both;
    text-align: center;
    min-height: 100%;
}

.card {
    float: left;
    width: 33.33%;
    margin: 20px 0px;
    padding: 5px;
    text-align: center;
    /* border: 1px solid #eeeeee; */
}

footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #000000;
    padding: 20px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #888888;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.album-thumb {
    height: 200px;
    width: 200px;
    padding: 5px;
}

#main-image {
    height: 600px;
    width: 800px;
    margin-top: 50px;
}

#websiteURL {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

img:hover {
    border-image: 2px solid #FFFFFF;
}