body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: #000000;
    color: #5eff00;
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: "I Tell You All My Secrets", Arial, sans-serif;
    font-size: 72px;
    text-align: center;
}

p {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: #666666;
}

a:link {
    color: #5eff00;
}

a:hover {
    background-color: #888888;
    border-image: 2px solid #FFFFFF;
}

nav {
    position: relative;
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    color: #6600aa;
}

.container {
    display: inline;
    width: 100%;
    max-width: 960px;
    clear: both;
    text-align: center;
    min-height: 100%;
}

.card {
    float: left;
    width: 33.33%;
    height: 250px;
    margin: 10px 0px;
    text-align: center;
}

header {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 50px;
    clear: both;
}

footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #000000;
    padding: 5px 0px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #888888;
    vertical-align: baseline;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.album-thumb {
    height: 200px;
    width: 200px;
    padding: 5px;
}

#main-image {
    height: 600px;
    width: 800px;
    margin-top: 50px;
}

img:hover {
    border-image: 2px solid #FFFFFF;
}